In [1]:
import numpy as np
import pandas as pd

##### Answer 1

In [2]:
np.__version__

'1.21.5'

In [96]:
df=pd.read_csv("data.csv")

##### Answer 2

In [8]:
len(df)

11914

##### Answer 3

In [201]:
df.Make.value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

##### Answer 4

In [44]:
AudiN=df["Model"][df["Make"]=="Audi"].nunique()
Audi=df["Model"][df["Make"]=="Audi"]
Audi.unique()

array(['100', '200', '80', '90', 'A3', 'A4 allroad', 'A4', 'A5', 'A6',
       'A7', 'A8', 'allroad quattro', 'allroad', 'Cabriolet', 'Coupe',
       'Q3', 'Q5', 'Q7', 'R8', 'RS 4', 'RS 5', 'RS 6', 'RS 7', 'S3', 'S4',
       'S5', 'S6', 'S7', 'S8', 'SQ5', 'TT RS', 'TT', 'TTS', 'V8'],
      dtype=object)

##### Answer 5

In [47]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

##### Answer 6

In [98]:
mean=df["Engine Cylinders"].mean()

In [94]:
df["Engine Cylinders"].isnull().sum()

30

In [99]:
most_freg_value=df["Engine Cylinders"].value_counts().max()
df["Engine Cylinders"]=df["Engine Cylinders"].fillna(most_freg_value)
df["Engine Cylinders"].isnull().sum()

0

In [100]:
new_mean=df["Engine Cylinders"].mean()
mean,new_mean

(5.628828677213059, 17.580409602148734)

##### Answer 7

In [101]:
df_lotus=df[["Engine HP","Engine Cylinders"]][df["Make"]=="Lotus"].drop_duplicates()

In [102]:
df_lotus=df[["Engine HP","Engine Cylinders"]][df["Make"]=="Lotus"]

In [113]:
df_lotus=df_lotus.drop_duplicates()

In [115]:
X = df_lotus.values
XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)
XTX_inv.sum()

0.1547573584345781

In [108]:
y =[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [116]:
w = XTX_inv.dot(X.T).dot(y)

In [117]:
w[0]

4.594944810094551